.home-example{
  height: 300px;
  margin-top: 30px;
}
.home-example>div{
  margin-top: 20px;
  padding: 0 0;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}
img{
  display: block;
  width: 400px;
}
.home-example>div>p{
  font-weight: 800;
}